@import "tailwindcss";

:root {
  --color-primary: #0F6E56;
  --color-graphite: #444441;
  --color-page-bg: #F1EFE8;
  --color-accent: #D85A30;
  --color-semantic-success: #3B6D11;
  --color-semantic-warning: #854F0B;
  --color-semantic-danger: #A32D2D;
  --color-semantic-verified: #534AB7;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-page-bg);
  color: var(--color-graphite);
  font-family: Inter, system-ui, sans-serif;
}
